html, 
body {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Architects Daughter', cursive;

}
.container {
  background-color: #e7e0b4;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.navbar {
  height: 60px;
  background-color: rgb(37, 156, 33);
  width: inherit;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-shadow: 1px 1px 1px #000;
  font-family: "Courier New", Courier, monospace;
}

div h3 {
  font-size: 35px;
  color: whitesmoke;
}

.btn {
  height: 40px;
  width: 40px;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  border-width: 0;
  background-color: rgb(55, 172, 51);
  transition-property: background-color;
  transition-duration: 0.53s;
}

.btn:hover{
  transform: rotate(22deg);
}

.actions {
  margin: 15px;
}

.actions span {
  font-size: 25px;
  margin: 5px;
  font-family: monospace;
  font-weight: 400;
  font-style: italic;
}

/* .right input {
  height: 40px;
  padding: 15px;
  border-radius: 9px;
  transition-property: background-color;
  transition-duration: 0.53s;
  border: 3px solid lavender;
}  */

.right a{
  color: white;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.53s;
  position: relative;
  margin-right: 30px;
}
.right a:hover{
  background-color: rgb(156, 199, 162);
  border-radius: 4px;
  padding: 5px;
  text-decoration: underline;
}
.delete:hover {
  background-color: rgb(142, 247, 82);
  cursor: pointer;
  background-color: rgb(226, 36, 23);
  color: whitesmoke;

  /* box-shadow: 0px 1px 7px 1px black; */
}
input:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  
}

.note-library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  

}

.note {
  height: 250px;
  width: 230px;
  margin: 10px;
  overflow: hidden;
  background-color: pink;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-family: monospace;
  font-size: larger;
  transition-property: background-color;
  transition-duration: 0.53s;
}

.note:hover {
  cursor: pointer;
  background-color: rgb(255, 183, 195);
  background-color: lightcoral;
  color: whitesmoke;
  box-shadow: 2px 2px 0px 1px rgb(248, 248, 248);
}

/*Modal Styles*/

.modal-backdrop {
  display: none; 
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  overflow: auto;
}

.modal {
  background-color: white;
  margin: 20% auto;
  width: 30%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17) ;
  animation-name: modal;
  animation-duration: 1s;

}
@keyframes modal{
  from{opacity: 0;}
  to{opacity: 1;}
}

.modal-header {
  background-color: rgb(37, 156, 33);
  color: white;
  text-shadow: 1px 1px 1px #000;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  padding: 5px;
  transition-property: background-color;
  transition-duration: 0.90s;
}

.modal-body textarea {
  border: none;
  width: max-content;
  height: 150px;
  font-size: large;
  word-wrap: inherit;
}
.modal-body textarea.invalid{
  border: 3px solid tomato;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  background-color: lightgreen;
  width: 100%;
}

.modal-footer button {
  padding: 10px;
  margin: 10px;
  background-color: hotpink;
  position: relative;
  margin: 8px 9px;
  border-radius: 3px;
  color: white;
  border: 0;
  transition-property: background-color;
  transition-duration: 0.53s;
}

.modal-footer button:hover{
  background-color: tomato;
  border-radius: 6px;
}

.delete{
  float:right;
  display: none;
}
/* .modal-footer button:hover,:focus {
  background-color: rgb(205, 138, 50);
} */
